.about-us {
  padding-top: 1px;
  padding-bottom: 58px;
  outline: 1px solid blue;
 }

.about-us__title {
  margin-top: 32px;
  margin-left: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  outline: 1px solid red;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__item {
  margin: 0 30px;
  padding-top: 83px;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  color: #000000;
  outline: 1px solid red;
}
