.btn {
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  font-size: 17px;
  line-height: 0.9em;
  font-weight: 700;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
}
