.cart-popup {
  display: none;
  width: 320px;
  position: absolute;
  top: 60%;
  left: 50%;
  border-top: 1px solid #c7c7c7;
  background: #ffffff;
  padding-bottom: 1px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  transform: translateX(-50%);
  z-index: 20;
}

.cart-popup__title {
  font-size: 25px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
  margin-left: 90px;
  margin-right: 80px;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.cart-popup__form {
  position: relative;
}

.cart-popup__choise {
  font-size: 15px;
  line-height: 2em;
  text-align: center;
}

.cart-popup__input {
  display: none;
}

.cart-popup__input + .cart-popup__label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 78px;
  height: 48px;
  margin-right: 7px;
  cursor: pointer;

  &:first-of-type {
    margin-left: 33px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 43px;
    width: 78px;
    height: 48px;
    border: 2px solid #ececec;
  }
}

.cart-popup__label {
  font-size: 17px;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
}

.cart-popup__input--size-s +.cart-popup__label::after {
  left: 33px;
}

.cart-popup__input--size-s +.cart-popup__label::before {
  left: 33px;
}

.cart-popup__input--size-m +.cart-popup__label::after {
  left: 120px;
}

.cart-popup__input--size-m +.cart-popup__label::before {
  left: 120px;
}

.cart-popup__input--size-l +.cart-popup__label::after {
  left: 207px;
}

.cart-popup__input--size-l +.cart-popup__label::before {
  left: 207px;
}

.cart-popup__input:checked + .cart-popup__label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 43px;
  width: 78px;
  height: 48px;
  border: 2px solid #63d1bb;
}

.cart-popup__btn {
  display: block;
  width: 260px;
  height: 52px;
  margin: 30px;
  font-size: 17px;
  line-height: 0.9em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: #63d1bb;
  border: none;
  outline: none;
}

@media ($tablet-widths) {
  .cart-popup {
    width: 568px;
  }

  .cart-popup__title {
    font-size: 30px;
    line-height: 1.9em;
  }

  .cart-popup__input + .cart-popup__label {
    width: 112px;
    height: 52px;

    &:first-of-type {
      margin-left: 109px;
    }

    &::before {
      width: 112px;
      height: 52px;
    }
  }

  .cart-popup__input--size-s +.cart-popup__label::after {
    left: 109px;
  }

  .cart-popup__input--size-s +.cart-popup__label::before {
    left: 109px;
  }

  .cart-popup__input--size-m +.cart-popup__label::after {
    left: 228px;
  }

  .cart-popup__input--size-m +.cart-popup__label::before {
    left: 228px;
  }

  .cart-popup__input--size-l +.cart-popup__label::after {
    left: 347px;
  }

  .cart-popup__input--size-l +.cart-popup__label::before {
    left: 347px;
  }

  .cart-popup__input:checked + .cart-popup__label::after {
    width: 112px;
    height: 52px;
  }

  .cart-popup__btn {
    width: 350px;
    height: 52px;
    margin: 30px auto 46px auto;
  }
}
