.catalog-video {
  margin: 0;
  margin-bottom: 58px;
  border: 1px solid #ececec;
}

.catalog-video__title {
  padding: 25px 40px 27px 90px;
  margin: 0;
  font-size: 17px;
  line-height: 1.4em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.catalog-video__player {
  width: 260px;
  height: 150px;
  margin: 0;
}

.catalog-video p {
  padding: 30px 43px 0 30px;
  margin-top: -6px;
  font-size: 13px;
  line-height: 1.8em;
  outline: 1px solid red;
}

.catalog-video__order {
  width: 192px;
  margin: 30px auto;
  text-decoration: none;
}

@media ($tablet-widths) {
  .catalog-video {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 63px;
  }

  .catalog-video__title {
    order: 2;
    width: 100%;
    padding: 39px 0 39px 108px;
    font-size: 20px;
    line-height: 1.2em;
    outline: 1px solid red;
  }

  .catalog-video__player {
    order: 1;
    width: 100%;
    height: 455px;
    margin: 0;
  }

  .catalog-video p {
    order: 3;
    width: 100%;
    padding: 0 0 0 40px;
    margin: 0;
    font-size: 15px;
    line-height: 2em;
    outline: 1px solid red;
  }

  .catalog-video__order {
    order: 4;
    width: 584px;
    margin: 43px auto;
  }
}

@media ($desktop-widths) {
  .catalog-video {
    flex-direction: column;
    height: 455px;
    margin-bottom: 105px;
  }

  .catalog-video__title {
    order: 2;
    width: 33.4%;
    box-sizing: border-box;
    padding: 95px 140px 35px 60px;
    outline: 1px solid red;
  }

  .catalog-video__player {
    order: 1;
    width: 66.6%;
    height: 455px;
  }

  .catalog-video p {
    order: 3;
    width: 33.4%;
    box-sizing: border-box;
    padding: 0 68px 0 60px;
    outline: 1px solid red;
  }

  .catalog-video__order {
    order: 4;
    width: 231px;
    margin: 52px auto;
  }
}
