.contacts {
  padding: 1px 0 39px 0;
  margin: 0;
}

.contacts__title {
  width: 100%;
  margin: 40px 0 40px 0;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 2em;
  outline: 1px solid red;
}

.contacts__item p {
  padding-bottom: 40px;
  margin: 0;
  outline: 1px solid pink;
}

.contacts__name {
  width: 28.9%;
}

.contacts__value {
  width: 71.1%;
}

.contacts__map {
  display: block;
  margin-left: -10px;
  margin-bottom: 40px;
  outline: 1px solid red;
}

.contacts__write {
  margin-top: 39px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

@media ($tablet-widths) {
  .contacts {
    padding: 60px 0;
  }

  .contacts__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 57px;
    font-size: 43px;
    line-height: 1.7em;
    outline: 1px solid red;
  }

  .contacts__item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    outline: 1px solid red;
  }

  .contacts__item p {
    margin: 0;
    padding: 0;
  }

  .contacts__name {
    width: 10%;
  }

  .contacts__value {
    width: 40%;
  }

  .contacts__map {
    display: block;
    width: 100%;
    outline: 1px solid red;
  }

  .contacts__write {
    width: 228px;
    margin: 60px auto 0 auto;
    text-decoration: none;
  }
}

@media ($desktop-widths) {
  .contacts {
    padding: 70px 0 106px 0;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;
  }

  .contacts__title {
    order: 1;
    box-sizing: border-box;
    width: 50%;
    font-size: 53px;
    line-height: 1.1em;
    padding-left: 175px;
    margin-bottom: 45px;
    outline: 1px solid red;
  }

  .contacts__item {
    order: 3;
    width: 50%;
    font-size: 17px;
    line-height: 1.8em;
    padding-left: 175px;
    margin-bottom: 85px;
    outline: 1px solid red;
  }

  .contacts__item p {
    padding-bottom: 40px;
    margin: 0;
    outline: 1px solid pink;
  }

  .contacts__name {
    width: 20%;
  }

  .contacts__value {
    width: 80%;
  }

  .contacts__map {
    order: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .contacts__write {
    order: 4;
    width: 231px;
    text-decoration: none;
    margin-top: -50px;
    margin-left: 175px;
  }
}
