
.container {
  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media ($tablet-widths) {
    width: 668px;
  }

  @media ($desktop-widths) {
    width: 1050px;
  }
}
