.contacts {
  position: relative;
  padding: 1px 0 39px 0;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 7px;
    background: url("../img/bg-zigzag-line.svg") repeat -7px;
    background-size: cover;
  }
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid green;
}

.contacts__title {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  margin: 40px 0 25px 0;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 2em;
  outline: 1px solid red;
}

.contacts__item p {
  padding-bottom: 30px;
  margin: 0;
  outline: 1px solid pink;
}

.contacts__item a {
  color: #444444;
  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__name {
  width: 28.9%;
}

.contacts__value {
  width: 71.1%;
}

.contacts__value--mishka {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 2px;
    width: 96%;
    height: 1px;
    background-color: #62d1ba;
  }
}

.contacts__map--wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.contacts__map {
  position: relative;
  margin-top: 8px;
  margin-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 49%;
    width: 67px;
    height: 100px;
    transform: translate(-50%, -50%);
    background: url("../img/icon-map-pin.svg") no-repeat;
  }
}

.contacts__write-wrapper {
  width: 260px;
  margin: 30px auto 0 auto;
}

.contacts__write {
  text-decoration: none;
}

@media ($tablet-widths) {
  .contacts {
    padding: 63px 0 58px 0;

    &::after {
      top: 0;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat -6px;
      background-size: 101.5%;
    }
  }

  .contacts-wrapper {
    width: 768px;
    outline: 1px solid green;
  }

  .contacts__title {
    padding-left: 45px;
    margin: 0 auto 38px auto;
    font-size: 43px;
    line-height: 1.7em;
    outline: 1px solid red;
  }

  .contacts__item {
    width: 86.9%;
    padding-bottom: 58px;
    font-size: 17px;
    line-height: 1.8em;
    outline: 1px solid red;
  }

  .contacts__item p {
    margin: 0;
    padding: 0;
  }

  .contacts__name {
    width: 12%;
  }

  .contacts__value {
    width: 38%;
  }

  .contacts__map--wrapper {
    width: 768px;
    margin-top: 0;
    outline: 1px solid red;
  }

  .contacts__write-wrapper {
    width: 230px;
    margin: 48px auto 0 auto;
  }
}

@media ($desktop-widths) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 1050px;
    height: 562px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;
  }

  .contacts-wrapper {
    order: 1;
    width: 50%;

  }

  .contacts__title {
    box-sizing: border-box;
    padding-left: 175px;
    margin-top: 77px;
    margin-bottom: 45px;
    font-size: 53px;
    line-height: 1.1em;
    outline: 1px solid red;
  }

  .contacts__item {
    padding-left: 175px;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.8em;
    outline: 1px solid red;
  }

  .contacts__item p {
    padding-bottom: 40px;
    margin: 0;
    outline: 1px solid pink;
  }

  .contacts__name {
    width: 20%;
  }

  .contacts__value {
    width: 80%;
  }

  .contacts__map {
    order: 4;
    width: 50%;
    margin: 0;
  }

  .contacts__write-wrapper {
    order: 3;
    width: 50%;
    margin-top: 0;
    outline: 1px solid blue;
  }

  .contacts__write {
    margin: 0 119px 0 175px;
    outline: 1px solid blue;
  }
}
