.order-form__groups {
  padding: 1px 0 30px 0;
  outline: 1px solid blue;
}

.order-form__group,
.order-form__group--text {
  position: relative;
  display: block;
  padding: 0;
  border: none;
}

.order-form__group--text {
  padding-bottom: 30px;
}

.order-form__legend {
  font-size: 17px;
  line-height: 0.9em;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-form__line {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 60px;
    top: 10px;
    height: 1px;
    width: 198px;
    background: #63d1bb;
  }
}

.order-form__line--short {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 60px;
    top: 10px;
    height: 2px;
    width: 23px;
    background: #ffffff;
  }
}

.order-form__group input {
  display: none;
}

.order-form__label {
  display: block;
  margin-left: 63px;
  margin-bottom: 43px;
  font-size: 17px;
  line-height: 1.1em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.order-form__group--text .order-form__text {
  display: block;
  width: 100%;
  padding-bottom: 18px;
  margin: 0;
  font-size: 17px;
  line-height: 1.1em;
  border: none;
  border-bottom: 2px solid #000000;
}

.order-form__group--number .order-form__text {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: 1px solid blue;
}

.order-form__group--text .order-form__label {
  margin-top: 30px;
  margin-bottom: 16px;
  margin-left: 0;
}

.order-form__group--number .order-form__text {
  display: block;
  font-size: 17px;
  line-height: 1.1em;
}

.order-form__group--number,
.order-form__group--add {
  padding-top: 30px;
}

.order-form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 141px;
  padding-top: 17px;
  padding-left: 17px;
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.1em;
  border: 2px solid #444444;
  resize: none;
}

.order-form__caption {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.1em;
  outline: 1px solid red;
}

.order-form__order {
  width: 100%;
  margin-bottom: 28px;
  background: #ffffff;
}

@media ($tablet-widths) {
  .order-form__wrapper {
    background: #f1f1f1;
  }

  .order-form__group {
    display: flex;
  }

  .order-form__legend {
    width: 25%;
    padding-top: 60px;
    outline: 1px solid red;
  }

  .order-form__items {
    width: 75%;
    padding-top: 50px;
    outline: 1px solid red;
  }

  .order-form__line::before {
    display: none;
  }

  .order-form__label {
    margin-left: 127px;
    margin-bottom: 55px;
    font-size: 19px;
    line-height: 1.1em;
    outline: 1px solid red;
  }

  .order-form__items--colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 304px;
  }

  .order-form__items--colors .order-form__label {
    width: 20%;
  }

  .order-form__group--text .order-form__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 304px;
    box-sizing: border-box;
    padding-top: 30px;
  }

  .order-form__group--text .order-form__label {
    width: 20%;
  }

  .order-form__group--text .order-form__text {
    width: 75%;
    height: 30px;
    padding-left: 18px;
    margin-top: 30px;
    outline: 1px solid blue;
  }

  .order-form__group--text .order-form__label:first-of-type {
    width: 10%;
  }

  .order-form__group--text .order-form__text:first-of-type {
    width: 85%;
    margin-left: 0;
  }

  .order-form__group--number {
    display: flex;
    flex-direction: row;
  }

  .order-form__group--number .order-form__text {
    width: 75%;
    box-sizing: border-box;
    padding-left: 18px;
    padding-top: 60px;
    background: #f1f1f1;
    outline: 1px solid blue;
  }

  .order-form__line--short::after {
    display: none;
  }

  .order-form__group--add {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
  }

  .order-form__group--add .order-form__legend {
    width: 33.5%;
    padding-top: 18px;
  }

  .order-form__textarea {
    margin-top: 0;
  }

  .order-form__caption-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 50px;
    outline: 1px solid green;
  }

  .order-form__caption {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 17px;
    line-height: 1.8em;
    text-align: right;
  }

  .order-form__order {
    width: 34.4%;
  }
}

@media ($desktop-widths) {
  .order-form__legend {
    width: 16.6%;
    padding-top: 65px;
    text-align: center;
  }

  .order-form__items {
    width: 66.6%;
  }

  .order-form__line::before {
    display: none;
  }

  .order-form__items--colors {
    min-height: 228px;
    box-sizing: border-box;
  }

  .order-form__items--colors .order-form__label {
    width: 15%;
  }

  .order-form__group--number {
    display: flex;
    flex-direction: row;
  }

  .order-form__group--number .order-form__text {
    width: 66.6%;
    outline: 1px solid blue;
  }

  .order-form__group--add .order-form__legend {
    width: 25%;
    padding-top: 18px;
  }

  .order-form__textarea {
    margin-right: 175px;
  }

  .order-form__caption-wrapper {
    margin-left: 175px;
    margin-right: 175px;
    outline: 1px solid green;
  }
}
