.order-page {
  padding: 1px 0;
  outline: 1px solid blue;
}

.order-page__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 75px 36px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  background: #f1f1f1;
  outline: 1px solid red;
}

.order-page__description {
  margin: 0 30px 30px 30px;
  font-size: 13px;
  line-height: 24px;
  outline: 1px solid red;
}
