.order-page {
  padding: 1px 0;
  outline: 1px solid blue;
}

.order-page__title {
  padding: 75px 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 1.1em;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background: #f1f1f1;
  outline: 1px solid red;
}

.order-page__description {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.8em;

}

@media ($tablet-widths) {
  .order-page__title {
    padding: 100px 0 68px 0;
    margin-bottom: 80px;
    font-size: 43px;
    line-height: 1.2em;
    outline: 1px solid red;
  }

  .order-page__description {
    margin-bottom: 0;
    font-size: 17px;
  }
}

@media ($desktop-widths) {
  .order-page__title {
    padding: 100px 0 80px 0;
    margin-bottom: 133px;
    font-size: 53px;
    line-height: 1.1em;
    outline: 1px solid red;
  }

  .order-page__description {
    padding: 0 175px;
    outline: 1px solid red;
  }
}
