.page-header {
  position: relative;
}

.page-header__logo {
  box-sizing: border-box;
  width: 100%;
  min-height: 79px;
  padding: 22px 85px;
}

.page-header__logo a {
  display: block;
  text-align: center;
  outline: 1px solid red;
}

@media ($tablet-widths) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    min-height: 89px;
  }

  .page-header__logo a {
    position: absolute;
    left: 0;
  }
}

@media ($desktop-widths) {
  .page-header {
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
  }

  .page-header__logo {
    position: relative;
  }

  .page-header__logo a {
    position: absolute;
    left: 485px;
  }
}
