.page-footer {
  background: #f1f1f1;
  outline: 1px solid red;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.page-footer__logo {
  width: 100%;
  padding: 15px 0;
  outline: 1px solid green;
}


.footer__logo {

  filter: grayscale(1);
  filter: brightness(0);

  &[href]:hover {
    filter: grayscale(0);
  }

  &[href]:active {
    filter: grayscale(0);
    opacity: 0.3;
  }

  &--hidden {
    display: none;
  }
}

/*.page-footer__logo img {
  display: none;
}*/

.page-footer__social {
  width: 100%;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;
  outline: 1px solid red;
}

.page-footer__copyright-developed {
  font-size: 19px;
  line-height: 0.9em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.page-footer__copyright-link {
  width: 29px;
  height: 35px;
  font-size: 0;
  background: url("../img/logo-htmlacademy.svg") no-repeat center center;
  outline: 1px solid red;
}

@media ($tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    min-height: 143px;
  }

  .page-footer__logo {
    width: 25%;
    padding: 55px 0;
    outline: 1px solid green;
  }

  .footer__logo {
     display: block;
     width: 185px;
   }

  .page-footer__logo img {
    display: block;
    outline: 1px solid red;
  }

  .page-footer__social {
    width: 44.9%;
    padding: 55px 0;
    border: 0;
    outline: 1px solid green;
  }

  .page-footer__copyright {
    justify-content: space-between;
    width: 30.1%;
    padding: 55px 0;
    outline: 1px solid green;
  }

  .page-footer__copyright-developed {
    box-sizing: border-box;
    outline: 1px solid red;
  }
}

@media ($desktop-widths) {
  .page-footer__logo {
    width: 33.3%;
    outline: 1px solid green;
  }

  .page-footer__social {
    width: 33.3%;
    outline: 1px solid green;
  }

  .page-footer__copyright {
    width: 33.4%;
    padding-left: 166px;
    outline: 1px solid green;
  }
}
