.production {
  position: relative;
  padding: 1px 0 40px 0;
  margin: 0;
  background: url("../img/bg-zigzag-line.svg") repeat-X 0 700px;
background-size: 320px 15px;



/*&::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 7px;
    background: url("../img/bg-zigzag-line.svg") repeat -7px;
    background-size: cover;
  }*/
}

.production__title {
  font-size: 25px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 7px;
  outline: 1px solid red;
}

.production__caption {
  font-size: 17px;
  line-height: 0.9em;
  font-weight: 700;
  color: #63d1bb;
  margin: 0;
  text-transform: uppercase;
  outline: 1px solid red;
}

.production__description {
  margin-top: 25px;
  margin-bottom: 18px;
  outline: 1px solid red;
}

.production__items-for-sale {
  display: table;
  width: 100%;
  margin-bottom: 32px;
  outline: 1px solid red;
}

.production__items__row {
  display: table-row;
}

.production__items-for-sale p {
  display: table-cell;
  padding: 7px 0;
  border-bottom: 1px solid #ececec;
}

.production__img {
  display: block;
  margin-bottom: 25px;
}

.production__price {
  font-size: 17px;
  line-height: 1.4em;
  font-weight: 700;
  color: #444444;
  text-align: center;
  margin-bottom: 27px;
  outline: 1px solid red;
}

.production__order {
  display: block;
  text-decoration: none;
}

@media ($tablet-widths) {
  .production {
    padding: 45px 0 52px 0;

    background: url("../img/bg-zigzag-line.svg") repeat-X 0 580px;
    background-size: 768px 25px;

    /*&::after {
      bottom: -15px;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat -6px;
      background-size: 101.5%;
    }*/
  }

  .production__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 1px solid green;
  }

  .production__title {
    width: 75%;
    font-size: 43px;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
  }

  .production__caption {
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    padding: 12px 27px 8px 68px;
    margin-right: 0;
  }

  .production__content-wrapper {
    position: relative;
    margin-top: 50px;
    outline: 1px solid green;
  }

  .production__description {
    margin: 0;
    width: 43.4%;
    font-size: 17px;
    line-height: 1.8em;
    outline: 1px solid red;
  }

  .production__items-for-sale {
    margin: 40px 0;
    width: 43.4%;
    outline: 1px solid red;
  }

  .production__items-for-sale p {
    padding: 8px 0;
    font-size: 15px;
    line-height: 1.3em;
  }

  .production__img {
    position: absolute;
    top: 7px;
    right: 0;
  }

  .production__price {
    width: 43.4%;
    margin-top: 63px;
    margin-left: 0;
    font-size: 20px;
    line-height: 1.2em;
  }

  .production__order {
    width: 43.4%;
    margin-top: 35px;
    margin-left: 0;
  }
}

@media ($desktop-widths) {
  .production {
    padding: 125px 0 71px 0;

    &::after {
      display: none;
      /*bottom: -23px;
      width: 100%;
      height: 23px;
      background: url("../img/bg-zigzag-line.svg") repeat -25px;
      background-size: 104.5%;*/
    }
  }

  .production--background {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;
    background: url("../img/triple-set-desktop@1x.jpg") no-repeat 525px 72px;

    @media (min-width: 1150px) and (min-resolution: 144dpi),
           (min-width: 1150px) and (min-resolution: 1.5dppx) {
             background-image: url("../img/triple-set-desktop@2x.jpg");
             background-size: 575px auto;
    }
  }

  .production__title-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    outline: 1px solid green;
    position: relative;
  }

  .production__title {
    width: 83.3%;
    font-size: 53px;
    line-height: 1.1em;
  }

  .production__caption {
    box-sizing: border-box;
    width: 16.7%;
    text-align: center;
    padding-top: 16px;
    padding-left: 16px;
  }

  .production__content-wrapper {
    position: relative;
    box-sizing: border-box;
    padding-left: 175px;
    outline: 1px solid green;
  }

  .production__description {
    margin: 50px 0;
    width: 33%;
  }

  .production__items-for-sale {
    margin-bottom: 118px;
    width: 33%;
  }

  .production picture {
    display: none;
  }

  .production__price {
    width: 33%;
  }

  .production__order {
    width: 33%;
  }
}
