.reviews {
  padding: 1px 0 45px 0;
  margin: 0;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
  outline: 1px solid red;
}

.reviews__item {
  display: block;
  margin: 0;
  font-size: 15px;
  line-height: 2em;
  outline: 1px solid red;
}

.reviews__auhor-name {
  margin-top: 25px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
  color: #000000;
}

.reviews__inst {
  font-size: 18px;
  line-height: 1.7em;
  text-decoration: none;
  color: #444444;
}

.reviews__buttons {
  display: flex;
  flex-direction: row;
}

.reviews__buttons button {
  margin: 15px 0 26px 0;
  font-size: 0;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  cursor: pointer;
  outline: none;

  &:hover {
   opacity: 0.6;
 }

 &:active {
   opacity: 0.3;
 }
}

.reviews__prev {
  background: #ffffff url("../img/icon-left-arrow.svg") no-repeat center;
}

.reviews__next {
  background: #ffffff url("../img/icon-right-arrow.svg") no-repeat center;
}

.reviews__write {
  text-decoration: none;
}

@media ($tablet-widths) {
  .reviews {
    width: 768px;
    padding: 1px 0 62px 0;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;
    background: url("../img/review@1x.jpg") no-repeat 0 0;

     @media (min-width: 768px) and (min-resolution: 144dpi),
            (min-width: 768px) and (min-resolution: 1.5dppx) {
              background-image: url("../img/review@2x.jpg");
              background-size: 350px auto;
    }
  }

  .reviews-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    padding-top: 75px;
    padding-bottom: 55px;
    outline: 1px solid green;
  }

  .reviews__title {
    order: 1;
    font-size: 43px;
    line-height: 1.2em;
    margin-bottom: 30px;
    width: 74%;
  }

  .reviews__item {
    order: 3;
    font-size: 17px;
    line-height: 1.8em;
  }

  .reviews__auhor-name {
    margin-top: 60px;
    font-size: 17px;
    line-height: 1.4em;
  }

  .reviews__inst {
    font-size: 17px;
    line-height: 1.8em;
  }

  .reviews__write {
    order: 2;
    margin-right: 0;
    width: 26%;
  }

  .reviews__buttons {
    order: 4;
    position: absolute;
    bottom: 70px;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 26%;
    margin: 0;
  }

  .reviews__buttons button {
    margin: 0;
    width: 84px;
    height: 30px;
    border: 0;
    cursor: pointer;
  }
}

@media ($desktop-widths) {
  .reviews {
    width: 100%;
    padding: 1px 0 70px 0;
    background-image: none;
    outline: 1px solid blue;
  }
  .reviews-wrapper {
    box-sizing: border-box;
    padding: 68px 0 95px 175px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/review@1x.jpg") no-repeat 0 0;
    outline: 1px solid green;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 1.1em;
    width: 80%;
    margin-left: 0;
  }

  .reviews__item {
    width: 88%;
    font-size: 17px;
    line-height: 1.8em;
    margin-left: 0;
  }

  .reviews__auhor-name {
    margin-top: 40px;
  }

  .reviews__write {
    margin-top: 10px;
    margin-right: 0;
    width: 20%;
  }

  .reviews__buttons {
    bottom: 85px;
    right: 0;
    width: 16.6%;
  }
}
