.social-links {
  font-size: 0;
}

.social__link {
  display: block;

  width: 30px;
  height: 30px;

  filter: grayscale(1);
  filter: brightness(0);

  &:hover {
    filter: grayscale(0);
  }

  &:active {
    filter: grayscale(0);
    opacity: 0.3;
  }

  &--inst {
    background: url("../img/icon-insta.svg") no-repeat 50% 100%;
  }

  &--fb {
    background: url("../img/icon-fb.svg") no-repeat 50% 100%;
  }

  &--tw {
    background: url("../img/icon-twitter.svg") no-repeat 50% 100%;
  }
}
