.social-links {
  @include ul-reset;
  outline: 1px solid pink;
}

.social-link {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin-right: 35px;
  outline: 1px solid red;
}

.social-link--inst {
  background: url("../img/icon-insta.svg") no-repeat center center;
}

.social-link--fb {
  background: url("../img/icon-fb.svg") no-repeat center center;
}

.social-link--tw {
  margin-right: 0;
  background: url("../img/icon-twitter.svg") no-repeat center center;
}
