.social-links {
  font-size: 0;
}

.social-link {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 35px;
  filter: grayscale(1);
  filter: brightness(0);

  &:hover {
    filter: grayscale(0);
  }

  &:active {
    filter: grayscale(0);
    opacity: 0.3;
  }
}

.social-link--inst {
  background: url("../img/icon-insta.svg") no-repeat 50% 100%;
}

.social-link--fb {
  background: url("../img/icon-fb.svg") no-repeat 50% 100%;
}

.social-link--tw {
  margin-right: 0;
  background: url("../img/icon-twitter.svg") no-repeat 50% 100%;
}
